<!DOCTYPE html>
html(lang="et")

extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }


    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 ARVED KOODI JÄRGI
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value: parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}
        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Kuupäev
                    th Aasta
                    th Kuu
                    th Arve number
                    th Kood
                    th Hind
                    th Ühik
                    th Kogus
                    th Summa
                    th Asutus

            tbody
                each rea in data
                    tr
                        td=rea.kpv
                        td=rea.aasta
                        td=rea.kuu
                        td=rea.number
                        td=rea.kood
                        td=rea.hind
                        td=rea.uhik
                        td=rea.kogus
                        td=Number(rea.summa).toFixed(2)
                        td=rea.asutus
            tr
                td
                td
                td
                td
                td
                td='Read kokku:'
                td=data.length
                td='Summa kokku:'
                td=Number(data[0].summa_kokku).toFixed(2)


