<!DOCTYPE html>
html(lang="et")

style(type='text/css').
    .grid_head {
        background-color: lightgray;;
    }

    .grid_data {
        width: 100%;
        border: 1px solid lightgray;
        font-weight:normal;
    }

    .row_wrapper {
        display: -webkit-box;
        flexDirection: row;
    }

    .label {
        width: 20%;
        font-weight: normal;
    }

    .input {
        width: 80%;
        margin-left: 5%;
        font-weight: bold;
        min-width: min-content;
        text-align: left;
    }

    .doc_footer {
        text-align: right;
    }
    .div {
        line-height:1;
    }
    .div_column{
        display: inline-block;
    }
    .div_column_left{
        width: 500px;
    }
    .div_column_right{
        width: 200px;
    }
    .page {
        page-break-after: always;
    }
    .auto {
        width: auto;
    }
    .td_align {
        text-align: center;
        vertical-align: top;
    }
    .fontLarger {
        font-size: larger;
    }



block content
    meta(charset='UTF-8')
    div.body_wrapper.div
        -var User = user ? user : {asutus: ''};
        each doc in data
            div.page
                div.row_wrapper
                    div.label
                        span Asutus:
                    div.input
                        span #{doc.tais_nimetus}
                div.row_wrapper
                   div.label
                        span reg.kood:
                    div.input
                        span #{doc.rekv_regkood}
                div.row_wrapper
                    div.label
                        span Aadress:
                    div.input
                        span #{doc.rekv_aadress}
                div.row_wrapper
                    div.label
                        span E-post:
                    div.input
                        span #{doc.rekv_email}
                div.row_wrapper
                    div.label
                        span Raha saaja:
                    div.input
                        span #{'Narva Linnavalitsuse Kultuuriosakond'}
                div.row_wrapper
                    div.label
                        span Maksta arvele:
                    table.input.auto
                        tbody
                        each aa in doc.arved
                            tr
                                td #{aa.pank}
                                td #{aa.arve}

                div.row_wrapper
                    div.label
                        span Viitenumber:
                    div.input
                        span #{doc.viitenr}
                h3
                    p #{`${doc.tyyp == 'ETTEMAKS' ? 'ETTEMAKSUARVE ' : 'ARVE'}`}
                    div.row_wrapper
                        div.label
                            span Number:
                        div.input
                            span #{doc.number}

                    div.row_wrapper
                        div.label
                            span Kuupäev:
                        div.input
                            div #{doc.kpv_print}

                    div.row_wrapper
                        div.label
                            span Tähtaeg:
                        div.input
                            span #{doc.tahtaeg_print}
                    div.row_wrapper
                        div.label
                            span Maksja:
                        div.input
                            span #{`${doc.asutus.trim()} reg.kood/isikukood: ${doc.regkood}`}
                    div.row_wrapper
                        div.label
                            span Teenuse saaja:
                        div.input
                            span #{`${doc.lapse_nimi.trim()}, isikukood: ${doc.isikukood}`}

                    div.row_wrapper
                        div.label
                            span Aadress:
                        div.input
                            span #{`${doc.aadress}`}

                    div.row_wrapper
                        div.label
                            span Lisa:
                        div.input
                            span #{`${doc.lisa ? doc.lisa : ''}`}
                    div.row_wrapper
                        div.label
                            span Märkused:
                        div.input
                            span #{`${doc.muud ? doc.muud : ''}`}

                    table.table.table-hover.grid_data
                        thead.grid_head
                            tr
                                th Teenuse nimetus
                                th Hind
                                th Soodustus
                                th Hind soodustusega
                                th Ühik
                                th Kogus
                                th Rea summa

                        tbody
                            each row in doc.details
                                tr
                                    td=(row.markused)
                                    td.td_align=Number(row.tais_hind).toFixed(2)
                                    td.td_align=Number(row.soodustus).toFixed(2)
                                    td.td_align=(Number(row.tais_hind, 2) - Number(row.soodustus)).toFixed(4)
                                    td.td_align=row.uhik
                                    td.td_align=row.kogus
                                    td.td_align=Number(row.summa).toFixed(2)
                    h3
                        div.doc_footer
                            div.row_wrapper
                                div.div_column.div_column_left
                                    span Kokku arve summa:
                                div.div_column.div_column_right
                                    span #{`${Number(doc.summa).toFixed(2)}`}
                            div.row_wrapper
                                div.div_column.div_column_left
                                    span Seisuga #{`${doc.period_alg_print.trim()}`} #{`${Number(doc.alg_jaak) > 0 ? 'Teil on võlgnevus:' : Number(doc.alg_jaak) == 0 ? 'Teie jääk on:' : 'Teil on ettemaks:'}`}
                                div.div_column.div_column_right
                                    span #{`${Math.abs(Number(doc.alg_jaak)).toFixed(2)}`}
                            div.row_wrapper
                                div.div_column.div_column_left
                                    span Olete tasunud perioodis #{`${doc.laekumise_period}`}:
                                div.div_column.div_column_right
                                    span #{`${Number(doc.laekumised).toFixed(2)}`}
                            div.row_wrapper
                                div.div_column.div_column_left
                                    span  #{`${Number(doc.ulekanne) ? 'On tehtud makse ülekanne teis(t)ele viitenumbri(te)le' : ''}`}
                                div.div_column.div_column_right
                                    span #{`${Number(doc.ulekanne) ? Math.abs(Number(doc.ulekanne)).toFixed(2) : ''}`}
                            div.row_wrapper
                                div.div_column.div_column_left
                                    span  #{`${Number(doc.tagasimakse) ? 'Teile on tagastatud perioodis ' + doc.laekumise_period : ''}`}
                                div.div_column.div_column_right
                                    span #{`${Number(doc.tagasimakse) ? Math.abs(Number(doc.tagasimakse)).toFixed(2) : ''}`}
                            div.row_wrapper
                                div.div_column.div_column_left
                                    span Seisuga #{`${doc.kpv_print}`} #{`${doc.tasumisele < 0 ? 'Teil on ettemaks:' : 'kuulub tasumisele:' }`}
                                div.div_column.div_column_right
                                    span #{`${Math.abs(Number(doc.tasumisele)).toFixed(2)}`}
                            br
                    p.fontLarger Küsimuste korral palun pöörduge asutusse #{`${doc.tais_nimetus}`}
