<!DOCTYPE html>
html(lang="et")
style(type='text/css').
    .grid_head {
        background-color: lightgray;;
    }
    .grid_data {
        width: 100%;
        border: 1px solid lightgray;
        font-weight:normal;
    }
    .row_wrapper {
        display:-webkit-box;
        flexDirection: row;
    }
    .label {
            width:10%;
            font-weight:normal;
    }
    .input {
        width:90%;
        margin-left:5%;
        font-weight: bold;
    }
    .label_subtotal_arve {
        width:15em;
        text-align: right;

    }

    .input_subtotal_arve {
        width: 2em;
    }
    .kokku {
        font-weight: bold;
        margin-left: 10%;
        min-width: min-content;
    }
    .align_right {
        text-align: end;
        float: right;
        margin-right: 6%;
        margin-left: auto;
    }
    .doc_footer {
        display: grid;
        grid-auto-rows: 30px;
    }
    .div {
        line-height:1;
    }
    .auto {
        width: auto;
    }

block content
    meta(charset='UTF-8')
    -var User = user ? user : {asutus: ''};
    div.body_wrapper.div
        div.row_wrapper
            div.label
                span Asutus:
            div.input
                span #{User.asutus}, reg.kood: #{User.regkood}
        div.row_wrapper
            div.label
                span Aadress:
            div.input
                span #{User.aadress}
        div.row_wrapper
            div.label
                span Telefon:
            div.input
                span #{User.tel}
        div.row_wrapper
            div.label
                span E-post:
            div.input
                span #{'oppetasu@narvakultuur.ee'}

        div.row_wrapper
            div.label
                span Raha saaja:
            div.input
                span #{User.parentid == 119 ? User.parent_asutus : User.asutusTais }
        div.row_wrapper
            div.label
                span Maksta arvele:
            table.input.auto
                tbody
                each aa in data[0].arved
                    tr
                        td #{aa.pank}
                        td #{aa.arve}

        h3
            p #{`${data[0].tyyp == 'ETTEMAKS' ? 'ETTEMAKSUARVE ': 'ARVE'}`}

            div.row_wrapper
                div.label
                    span Number:
                div.input
                    span #{data[0].number}


            div.row_wrapper
                div.label
                    span Kuupäev:
                div.input
                    span #{data[0].kpv_print}
            div.row_wrapper
                div.label
                    span Viitenumber:
                div.input
                    span #{data[0].viitenr}
            div.row_wrapper
                div.label
                    span Tähtaeg:
                div.input
                    span #{data[0].tahtaeg_print}
            div.row_wrapper
                div.label
                    div Maksja:
                div.input
                    span #{`${data[0].asutus.trim()} isikukood/reg.kood: ${data[0].regkood}`}
            div.row_wrapper
                div.label
                    span Teenuse saaja:
                p.input
                    span #{`${data[0].lapse_nimi.trim()}, isikukood: ${data[0].isikukood}`}
            div.row_wrapper
                div.label
                    span Aadress:
                div.input
                    span #{`${data[0].aadress}`}

            div.row_wrapper
                div.label
                    span Lisa:
                div.input
                    span #{`${data[0].lisa ? data[0].lisa: ''}`}

            div.row_wrapper
                div.label
                    span Märkused :
                div.input
                    span #{`${data[0].muud ? data[0].muud : ''}`}

            table.table.table-hover.grid_data
                thead.grid_head
                    tr
                        th Teenuse nimetus
                        th Hind
                        th Soodustus
                        th Hind soodustusega
                        th Ühik
                        th Kogus
                        th Rea summa

                tbody
                    each row in data.details
                        tr
                            td=(row.markused)
                            td(align='center')=Number(row.tais_hind,2).toFixed(2)
                            td(align='center')=Number(row.soodustus).toFixed(4)
                            td(align='center')=(Number(row.tais_hind,2) - Number(row.soodustus)).toFixed(4)
                            td(align='center')=row.uhik
                            td(align='center')=row.kogus
                            td(align='center')=Number(row.summa).toFixed(2)

            div.doc_footer.div
                div.row_wrapper.align_right
                    p.label_subtotal_arve Kokku:
                        p.kokku.input_subtotal_arve #{`${Number(data[0].summa).toFixed(2)}`}
                div.row_wrapper.align_right
                    p.label_subtotal_arve Seisuga #{`${data[0].period_alg_print.trim()}`} jääk:
                        p.kokku.input_subtotal_arve #{`${Number(data[0].alg_jaak).toFixed(2)}`}
                div.row_wrapper.align_right
                    p.label_subtotal_arve Laekumised periodis #{`${data[0].laekumise_period}`}:
                        p.kokku.input_subtotal_arve #{`${Number(data[0].laekumised).toFixed(2)}`}
                div.row_wrapper.align_right
                    p.label_subtotal_arve Seisuga #{`${data[0].kpv_print}`} tasumisele:
                        p.kokku.input_subtotal_arve #{`${Number(data[0].lopp_jaak).toFixed(2)}`}
                br
    p Küsimuste korral palun pöörduge asutuste esindaja poole


