<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h2.doc_header LASTE KOKKUVÕTTE
        p.doc_header Seisuga #{data.length > 0 ? data[0].print_date : new Date().toISOString().substring(0, 10)}
        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th.th Koolitava isiku ees- ja perekonnanimi
                    th.th Isikukood
                    th.th Arve nr.
                    th.th Arve kpv
                    th.th Arve summa
                    th.th Jääk
                    th.th Koolituse eest tasunud isiku ees- ja perekonnanimi
                    th.th Isikukood
                    th.th Asutus

            tbody
                each rea in data
                    tr
                        td.td=rea.lapse_nimi
                        td.td=rea.lapse_isikukood
                        td.td=rea.number
                        td.td=rea.kpv
                        td.td=rea.summa
                        td.td=rea.jaak
                        td.td=rea.maksja_nimi
                        td.td=rea.maksja_isikukood
                        td.td=rea.asutus

