<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }
        .col {
            min-width: 75px;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h2.doc_header LASTE KOKKUVÕTTE
        p.doc_header Seisuga #{data.length > 0 ? data[0].print_date : new Date().toISOString().substring(0, 10)}
        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th.th Koolitava isiku ees- ja perekonnanimi
                    th.th Isikukood
                    th.th Arve nr.
                    th.th Arve kpv
                    th.th Arve summa
                    th.th Jääk
                    th.th Tasud
                    th.th Maksesumma
                    th.th Maksekpv
                    th.th Mahakantud
                    th.th Koolituse eest tasunud isiku ees- ja perekonnanimi
                    th.th Isikukood
                    th.th Asutus

            tbody
                each rea in data
                    tr
                        td.col=rea.lapse_nimi
                        td.col=rea.lapse_isikukood
                        td.col=rea.number
                        td.col=rea.kpv
                        td.col=rea.summa
                        td.col=rea.jaak
                        td.col=rea.tasutud
                        td.col=rea.maksesumma
                        td.col=rea.maksekpv
                        td.col=rea.mahakandmine
                        td.col=rea.maksja_nimi
                        td.col=rea.maksja_isikukood
                        td.col=rea.asutus
            tr.group
                td
                td(align='center')='Read kokku:'
                td=Number(data.length)
                td(align='center')='Kokku:'
                td=Number(data[0].summa_kokku).toFixed(2)
                td=Number(data[0].jaak_kokku).toFixed(2)
                td=Number(data[0].tasutud_kokku).toFixed(2)
                td=Number(data[0].maksesumma_kokku).toFixed(2)
                td
                td=Number(data[0].mahakandmine_kokku).toFixed(2)
                td
                td
                td

