<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }


    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 FÜÜSILISTE ISIKUTE TASUTUD KOOLITUSKULUDE DEKLARATSIOON
        p Aasta #{data[0].aasta}
        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Koolituse eest tasunud isiku ees- ja perekonnanimi
                    th Isikukood
                    th Koolitava isiku ees- ja perekonnanimi
                    th Isikukood
                    th Koolituse eest tasutud summa
                    th Koolituse liik

            tbody
                each rea in data
                    tr
                        td=rea.maksja_nimi
                        td=rea.maksja_isikukood
                        td=rea.lapse_nimi
                        td=rea.lapse_isikukood
                        td=rea.summa
                        td=rea.liik
            tr.group
                td
                td(align='center')='Read kokku:'
                td=Number(data.length)
                td(align='center')='Summa kokku:'
                td=Number(data[0].summa_kokku).toFixed(2)
                td

