<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .td {
            font-size: smaller;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }

        .th {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            font-size: smaller;
        }
        .table {
            border-spacing: 0px
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h2.doc_header KOHALOLEKU ARUANNE
        h2.doc_header Vanematetasu
        each parameter in filter
            p.doc_header #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

        each asutus in data
            p.doc_header #{Object.keys(asutus)[0]}

            table.table.table-hover.grid_data
                thead.grid_head
                    tr
                        th.th Nr
                        th.th Koolituse tüüp
                        th.th Üksuste kogus
                        th.th Laste kogus nimekirjas
                        th.th Laste faktiline kogus
                        th.th Laste/päevad

                tbody
                    each rea in asutus[Object.keys(asutus)[0]]
                        tr
                            td.td=rea.row_id
                            td.td=rea.koolituse_tyyp
                            td.td(align='center')=rea.yksuse_kogus
                            td.td(align='center')=rea.nimekirje_kogus
                            td.td(align='center')=rea.faktiline_kogus
                            td.td(align='center')=rea.kogus

                tr.group
                    td
                    td.group(align='right')='Kokku:'
                    td.td(align='center').group=asutus[Object.keys(asutus)[0]][0].yksuse_kogus_kokku
                    td.td(align='center').group=asutus[Object.keys(asutus)[0]][0].nimekirje_kogus_kokku
                    td.td(align='center').group=asutus[Object.keys(asutus)[0]][0].faktiline_kogus_kokku
                    td.td(align='center').group=asutus[Object.keys(asutus)[0]][0].kogus_kokku

