<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;
            border: 1px solid black;
        }

        .grid_data {
            width: 100%;
            border: 1px solid black;
        }

        .td {
            font-size: smaller;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }

        .th {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            font-size: smaller;
        }

        .th_yksus {
            border: 1px solid black;
            font-size: smaller;
        }


        .table {
            border-spacing: 0px;
            border: 1px solid black;
        }

        .doc_header {
            margin-block-start:5px;
            margin-block-end:5px;
        }

        .doc_grupp {
            font-weight: bold;
        }

        .doc_grouped_data {
            font-size: smaller;
        }
    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h2.doc_header ASUTUSE KUU TAABEL
        h2.doc_header Vanematetasu
        each parameter in filter
            p.doc_header #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

        each tyyp in data
            p.doc_header.doc_grupp #{Object.keys(tyyp)[0]}

            table.table.table-hover.grid_data
                thead.grid_head
                    tr
                        th.th_yksus Nr.
                        th.th_yksus Üksus
                        th.th Teenus
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(1) > -1 ? 'red': 'none' }) 1
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(2) > -1 ? 'red': 'none' }) 2
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(3) > -1 ? 'red': 'none' }) 3
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(4) > -1 ? 'red': 'none' }) 4
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(5) > -1 ? 'red': 'none' }) 5
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(6) > -1 ? 'red': 'none' }) 6
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(7) > -1 ? 'red': 'none' }) 7
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(8) > -1 ? 'red': 'none' }) 8
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(9) > -1 ? 'red': 'none' }) 9
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(10) > -1 ? 'red': 'none' }) 10
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(11) > -1 ? 'red': 'none' }) 11
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(12) > -1 ? 'red': 'none' }) 12
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(13) > -1 ? 'red': 'none' }) 13
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(14) > -1 ? 'red': 'none' }) 14
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(15) > -1 ? 'red': 'none' }) 15
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(16) > -1 ? 'red': 'none' }) 16
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(17) > -1 ? 'red': 'none' }) 17
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(18) > -1 ? 'red': 'none' }) 18
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(19) > -1 ? 'red': 'none' }) 19
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(20) > -1 ? 'red': 'none' }) 20
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(21) > -1 ? 'red': 'none' }) 21
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(22) > -1 ? 'red': 'none' }) 22
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(23) > -1 ? 'red': 'none' }) 23
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(24) > -1 ? 'red': 'none' }) 24
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(25) > -1 ? 'red': 'none' }) 25
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(26) > -1 ? 'red': 'none' }) 26
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(27) > -1 ? 'red': 'none' }) 27
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(28) > -1 ? 'red': 'none' }) 28
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(29) > -1 ? 'red': 'none' }) 29
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(30) > -1 ? 'red': 'none' }) 30
                        th.th(style={color: tyyp[Object.keys(tyyp)[0]][0].week_ends.indexOf(31) > -1 ? 'red': 'none' }) 31
                        th.th Kokku
                tbody
                    -var id = 1;
                    each rea in tyyp[Object.keys(tyyp)[0]]
                        if rea.is_row
                            tr
                                td.doc_grouped_data(style={visibility: rea.rea_count == 1 ? 'visible' : 'hidden', "border-top": rea.rea_count == 1 ? '1px solid black' : 'none'})=rea.rea_count == 1 ? id++: id
                                td.doc_grouped_data(style={visibility: rea.rea_count == 1 ? 'visible' : 'hidden', "border-top": rea.rea_count == 1 ? '1px solid black' : 'none'})=rea.yksus
                                td.td=rea.teenus
                                td.td(align='center' style={"background-color": rea.day_1 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_1 > 0 ? 'lightgreen': 'pink': null)})= rea.day_1
                                td.td(align='center' style={"background-color": rea.day_2 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_2 > 0 ? 'lightgreen': 'pink': null)})=rea.day_2
                                td.td(align='center' style={"background-color": rea.day_3 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_3 > 0 ? 'lightgreen': 'pink': null)})=rea.day_3
                                td.td(align='center' style={"background-color": rea.day_4 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_4 > 0 ? 'lightgreen': 'pink': null)})=rea.day_4
                                td.td(align='center' style={"background-color": rea.day_5 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_5 > 0 ? 'lightgreen': 'pink': null)})=rea.day_5
                                td.td(align='center' style={"background-color": rea.day_6 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_6 > 0 ? 'lightgreen': 'pink': null)})=rea.day_6
                                td.td(align='center' style={"background-color": rea.day_7 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_7 > 0 ? 'lightgreen': 'pink': null)})=rea.day_7
                                td.td(align='center' style={"background-color": rea.day_8 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_8 > 0 ? 'lightgreen': 'pink': null)})=rea.day_8
                                td.td(align='center' style={"background-color": rea.day_9 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_9 > 0 ? 'lightgreen': 'pink': null)})=rea.day_9
                                td.td(align='center' style={"background-color": rea.day_10 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_10 > 0 ? 'lightgreen': 'pink': null)})=rea.day_10
                                td.td(align='center' style={"background-color": rea.day_11 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_11 > 0 ? 'lightgreen': 'pink': null)})=rea.day_11
                                td.td(align='center' style={"background-color": rea.day_12 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_12 > 0 ? 'lightgreen': 'pink': null)})=rea.day_12
                                td.td(align='center' style={"background-color": rea.day_13 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_13 > 0 ? 'lightgreen': 'pink': null)})=rea.day_13
                                td.td(align='center' style={"background-color": rea.day_14 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_14 > 0 ? 'lightgreen': 'pink': null)})=rea.day_14
                                td.td(align='center' style={"background-color": rea.day_15 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_15 > 0 ? 'lightgreen': 'pink': null)})=rea.day_15
                                td.td(align='center' style={"background-color": rea.day_16 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_16 > 0 ? 'lightgreen': 'pink': null)})=rea.day_16
                                td.td(align='center' style={"background-color": rea.day_17 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_17 > 0 ? 'lightgreen': 'pink': null)})=rea.day_17
                                td.td(align='center' style={"background-color": rea.day_18 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_18 > 0 ? 'lightgreen': 'pink': null)})=rea.day_18
                                td.td(align='center' style={"background-color": rea.day_19 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_19 > 0 ? 'lightgreen': 'pink': null)})=rea.day_19
                                td.td(align='center' style={"background-color": rea.day_20 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_20 > 0 ? 'lightgreen': 'pink': null)})=rea.day_20
                                td.td(align='center' style={"background-color": rea.day_21 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_21 > 0 ? 'lightgreen': 'pink': null)})=rea.day_21
                                td.td(align='center' style={"background-color": rea.day_22 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_22 > 0 ? 'lightgreen': 'pink': null)})=rea.day_22
                                td.td(align='center' style={"background-color": rea.day_23 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_23 > 0 ? 'lightgreen': 'pink': null)})=rea.day_23
                                td.td(align='center' style={"background-color": rea.day_24 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_24 > 0 ? 'lightgreen': 'pink': null)})=rea.day_24
                                td.td(align='center' style={"background-color": rea.day_25 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_25 > 0 ? 'lightgreen': 'pink': null)})=rea.day_25
                                td.td(align='center' style={"background-color": rea.day_26 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_26 > 0 ? 'lightgreen': 'pink': null)})=rea.day_26
                                td.td(align='center' style={"background-color": rea.day_27 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_27 > 0 ? 'lightgreen': 'pink': null)})=rea.day_27
                                td.td(align='center' style={"background-color": rea.day_28 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_28 > 0 ? 'lightgreen': 'pink': null)})=rea.day_28
                                td.td(align='center' style={"background-color": rea.day_29 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_29 > 0 ? 'lightgreen': 'pink': null)})=rea.day_29
                                td.td(align='center' style={"background-color": rea.day_30 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_30 > 0 ? 'lightgreen': 'pink': null)})=rea.day_30
                                td.td(align='center' style={"background-color": rea.day_31 == null ? 'lightgray': (rea.nom_id == 999999999 ? rea.day_31 > 0 ? 'lightgreen': 'pink': null)})=rea.day_31
                                td.td(align='center')=rea.kogus
                        else
                            tr
                                td(style={visibility: rea.rea_count == 1 ? 'visible' : 'hidden', "border-top": rea.rea_count == 1 ? '1px solid black' : 'none'})
                                td.doc_grouped_data(style={visibility: rea.rea_count == 1 ? 'visible' : 'hidden', "border-top": rea.rea_count == 1 ? '1px solid black' : 'none'})=rea.yksus
                                td.doc_grouped_data.td=rea.teenus
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_1 == null || rea.day_1 == '' ? '1px solid black': null, "background-color": rea.day_1 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_1 > 0 ? 'lightgreen': 'pink' : null)})= rea.day_1
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_2 == null || rea.day_1 == '' ? '1px solid black': null, "background-color": rea.day_2 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_2 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_2
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_3 == null || rea.day_1 == '' ? '1px solid black': null,"background-color": rea.day_3 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_3 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_3
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_4 == null || rea.day_1 == '' ? '1px solid black': null,"background-color": rea.day_4 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_4 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_4
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_5 == null || rea.day_1 == '' ? '1px solid black': null,"background-color": rea.day_5 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_5 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_5
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_6 == null || rea.day_1 == '' ? '1px solid black': null,"background-color": rea.day_6 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_6 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_6
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_7 == null ? '1px solid black': null,"background-color": rea.day_7 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_7 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_7
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_8 == null ? '1px solid black': null,"background-color": rea.day_8 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_8 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_8
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_9 == null ? '1px solid black': null,"background-color": rea.day_9 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_9 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_9
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_10 == null ? '1px solid black': null,"background-color": rea.day_10 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_10 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_10
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_11 == null ? '1px solid black': null,"background-color": rea.day_11 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_11 > 0 ? 'lightgreen': 'pink': null)})=rea.day_11
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_12 == null ? '1px solid black': null,"background-color": rea.day_12 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_12 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_12
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_13 == null ? '1px solid black': null,"background-color": rea.day_13 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_13 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_13
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_14 == null ? '1px solid black': null,"background-color": rea.day_14 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_14 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_14
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_15 == null ? '1px solid black': null,"background-color": rea.day_15 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_15 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_15
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_16 == null ? '1px solid black': null,"background-color": rea.day_16 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_16 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_16
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_17 == null ? '1px solid black': null,"background-color": rea.day_17 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_17 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_17
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_18 == null ? '1px solid black': null,"background-color": rea.day_18 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_18 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_18
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_19 == null ? '1px solid black': null,"background-color": rea.day_19 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_19 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_19
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_20 == null ? '1px solid black': null,"background-color": rea.day_20 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_20 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_20
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_21 == null ? '1px solid black': null,"background-color": rea.day_21 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_21 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_21
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_22 == null ? '1px solid black': null,"background-color": rea.day_22 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_22 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_22
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_23 == null ? '1px solid black': null,"background-color": rea.day_23 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_23 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_23
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_24 == null ? '1px solid black': null,"background-color": rea.day_24 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_24 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_24
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_25 == null ? '1px solid black': null,"background-color": rea.day_25 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_25 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_25
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_26 == null ? '1px solid black': null,"background-color": rea.day_26 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_26 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_26
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_27 == null ? '1px solid black': null,"background-color": rea.day_27 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_27 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_27
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_28 == null ? '1px solid black': null,"background-color": rea.day_28 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_28 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_28
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_29 == null ? '1px solid black': null,"background-color": rea.day_29 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_29 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_29
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_30 == null ? '1px solid black': null,"background-color": rea.day_30 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_30 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_30
                                td.doc_grouped_data(align='center' style={"border-left":rea.day_31 == null ? '1px solid black': null,"background-color": rea.day_31 == null ? 'lightgray' : (rea.nom_id == 999999999 ? rea.day_31 > 0 ? 'lightgreen': 'pink' : null)})=rea.day_31
                                td.doc_grouped_data(align='center')=rea.kogus

