<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h2.doc_header KUUTABELI ARUANNE
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th.th Isikukood
                    th.th Nimi
                    th.th Viitenumber
                    th.th Arvestatud
                    th.th Soodustus
                    th.th Ümberarv.
                    th.th Vahe
                    th.th Kokku arvestatud

            tbody
                each rea in data
                    tr
                        td.td=rea.isikukood
                        td.td=rea.nimi
                        td.td(align='center')=rea.viitenumber
                        td.td(align='center')=rea.arvestatud
                        td.td(align='center')=rea.soodustus
                        td.td(align='center')=rea.umberarvestus
                        td.td(align='center')=rea.vahe
                        td.td(align='center')=rea.summa

            tr
                td
                td
                td Kokku:
                td(align='center')=Number(data[0].arvestatud_total).toFixed(2)
                td(align='center')=Number(data[0].soodustus_total).toFixed(2)
                td(align='center')=Number(data[0].umberarvestus_total).toFixed(2)
                td(align='center')=Number(data[0].vahe_total).toFixed(2)
                td(align='center')=Number(data[0].summa_total).toFixed(2)
