<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    link(rel='stylesheet', href='/stylesheets/reports.css')
    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }


    div.body_wrapper
        h1 Teenused saajale

        div.row_wrapper
            p.label Isikukood:
            p.input #{data[0].isikukood}
        div.row_wrapper
            p.label Nimi:
            p.input #{data[0].lapse_nimi}

        div.row_wrapper
            p.label Kood:
            p.input #{data[0].kood}

        div.row_wrapper
            p.label Nimetus:
            p.input #{data[0].nimetus}
        div.row_wrapper
            p.label Kehtivus:
            p.input #{`${data[0].alg_kpv} - ${data[0].lopp_kpv}`}

        div.row_wrapper
            p.label Hind:
            p.input #{`${data[0].hind} Soodustus: ${data[0].soodus ? data[0].soodus: ''}  ${data[0].kas_protsent ? '%' : 'EUR'} kehtib ${data[0].sooduse_alg_print ? data[0].sooduse_alg_print: ''} - ${data[0].sooduse_lopp_print ? data[0].sooduse_lopp_print: ''} `}

        div.row_wrapper
            p.label Kogus:
            p.input #{data[0].kogus}

        div.row_wrapper
            p.label Üksus:
            p.input #{data[0].yksus}
        div.row_wrapper
            p.label Tunnus:
            p.input #{data[0].tunnus}
        div.row_wrapper
            p.label Arve kas eraldi?
            p.input #{data[0].kas_eraldi ? 'Jah': 'Ei'}
        div.row_wrapper
            p.label Kas ettemaks?
            p.input #{`${data[0].kas_ettemaks ? 'Jah, ettemaksu period: ' + data[0].ettemaksu_period + ' kuu(d)': 'Ei'}`}
        div.row_wrapper
            p.label Kas INF3?
            p.input #{data[0].kas_inf3 ? 'Jah' : 'Ei'}
