<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid black;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .td {
            font-size: smaller;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }

        .th {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            font-size: smaller;
        }

        .total {
            font-weight: bold;
            font-size: smaller;
        }
        .line_left {
            border-left: 1px solid black;
        }
    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h2.doc_header Päeva taabel

        div.doc_header.row_wrapper
            p.label Kuupäev:
            p.input #{data[0].kpv_print}

        div.doc_header.row_wrapper.doc_header
            p.label Üksus:
            p.input #{data[0].yksuse_nimi}

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th.th Rea nr
                    th.th Viitenumber
                    th.th Nimi
                    th.th Külastamine
                    th.th(style={"border-left":data.details[0].header_0 ? '1px solid black': 'hidden'})=data.details[0].header_0 ? data.details[0].header_0: null
                    th.th(style={"border-left":data.details[0].header_1 ? '1px solid black': 'hidden'})=data.details[0].header_1 ? data.details[0].header_1: null
                    th.th(style={"border-left":data.details[0].header_2 ? '1px solid black': 'hidden'})=data.details[0].header_2 ? data.details[0].header_2: null
                    th.th(style={"border-left":data.details[0].header_3 ? '1px solid black': 'hidden'})=data.details[0].header_3 ? data.details[0].header_3: null
                    th.th(style={"border-left":data.details[0].header_4 ? '1px solid black': 'hidden'})=data.details[0].header_4 ? data.details[0].header_4: null
                    th.th(style={"border-left":data.details[0].header_5 ? '1px solid black': 'hidden'})=data.details[0].header_5 ? data.details[0].header_5: null
                    th.th(style={"border-left":data.details[0].header_6 ? '1px solid black': 'hidden'})=data.details[0].header_6 ? data.details[0].header_6: null
                    th.th(style={"border-left":data.details[0].header_7 ? '1px solid black': 'hidden'})=data.details[0].header_7 ? data.details[0].header_7: null
                    th.th(style={"border-left":data.details[0].header_8 ? '1px solid black': 'hidden'})=data.details[0].header_8 ? data.details[0].header_8: null
                    th.th(style={"border-left":data.details[0].header_9 ? '1px solid black': 'hidden     '})=data.details[0].header_9 ? data.details[0].header_9: null

            tbody
                each row in data.details
                    tr
                        td.td=row.id
                        td.td=row.viitenr
                        td.td=row.nimi
                        td.td(align='center')=row.osalemine
                        td.td(align='center',style= {"border-left":data.details[0].header_0 ? '1px solid black': 'none'})=row.data_0 ? row.data_0: null
                        td.td(align='center',style= {"border-left":data.details[0].header_1 ? '1px solid black': 'none'})=row.data_1 ? row.data_1: null
                        td.td(align='center',style= {"border-left":data.details[0].header_2 ? '1px solid black': 'none'})=row.data_2 ? row.data_2: null
                        td.td(align='center',style= {"border-left":data.details[0].header_3 ? '1px solid black': 'none'})=row.data_3 ? row.data_3: null
                        td.td(align='center',style= {"border-left":data.details[0].header_4 ? '1px solid black': 'none'})=row.data_4 ? row.data_4: null
                        td.td(align='center',style= {"border-left":data.details[0].header_5 ? '1px solid black': 'none'})=row.data_5 ? row.data_5: null
                        td.td(align='center',style= {"border-left":data.details[0].header_6 ? '1px solid black': 'none'})=row.data_6 ? row.data_6: null
                        td.td(align='center',style= {"border-left":data.details[0].header_7 ? '1px solid black': 'none'})=row.data_7 ? row.data_7: null
                        td.td(align='center',style= {"border-left":data.details[0].header_9 ? '1px solid black': 'none'})=row.data_8 ? row.data_8: null
                        td.td(align='center',style= {"border-left":data.details[0].header_9 ? '1px solid black': 'none'})=row.data_9 ? row.data_9: null
            tfoot
                tr
                    td
                    td
                    td.total(align='center') Total:
                    td.total(align='center',style={visibility: data.details[0].osalemine ? 'visible' : 'hidden',"border-left":'1px solid black'})=data.details[0].osalemine ? data['0'].totals['osalemine'] : null
                    td.total(align='center',style={visibility: data.details[0].header_0 ? 'visible' : 'hidden',"border-left":data.details[0].header_0 ? '1px solid black': 'none'})=data.details[0].header_0 ? data['0'].totals['0'] : null
                    td.total(align='center',style={visibility: data.details[0].header_1 ? 'visible' : 'hidden',"border-left":data.details[0].header_1 ? '1px solid black': 'none'})=data.details[0].header_1 ? data['0'].totals['1'] : null
                    td.total(align='center',style={visibility: data.details[0].header_2 ? 'visible' : 'hidden',"border-left":data.details[0].header_2 ? '1px solid black': 'none'})=data.details[0].header_2 ? data['0'].totals['2'] : null
                    td.total(align='center',style={visibility: data.details[0].header_3 ? 'visible' : 'hidden',"border-left":data.details[0].header_3 ? '1px solid black': 'none'})=data.details[0].header_3 ? data['0'].totals['3'] : null
                    td.total(align='center',style={visibility: data.details[0].header_4 ? 'visible' : 'hidden',"border-left":data.details[0].header_4 ? '1px solid black': 'none'})=data.details[0].header_4 ? data['0'].totals['4'] : null
                    td.totalt(align='center',style={visibility: data.details[0].header_5 ? 'visible' : 'hidden',"border-left":data.details[0].header_5 ? '1px solid black': 'none'})=data.details[0].header_5 ? data['0'].totals['5'] : null
                    td.total(align='center',style={visibility: data.details[0].header_6 ? 'visible' : 'hidden',"border-left":data.details[0].header_6 ? '1px solid black': 'none'})=data.details[0].header_6 ? data['0'].totals['6'] : null
                    td.total(align='center',style={visibility: data.details[0].header_7 ? 'visible' : 'hidden',"border-left":data.details[0].header_7 ? '1px solid black': 'none'})=data.details[0].header_7 ? data['0'].totals['7'] : null
                    td.total(align='center',style={visibility: data.details[0].header_8 ? 'visible' : 'hidden', "border-left":data.details[0].header_8 ? '1px solid black': 'none'})=data.details[0].header_8 ? data['0'].totals['8'] : null
                    td.total(align='center',style={visibility: data.details[0].header_9 ? 'visible' : 'hidden',"border-left":data.details[0].header_9 ? '1px solid black': 'none'})=data.details[0].header_9 ? data['0'].totals['9'] : null
