doctype html
html
    body
        -var User = user ? user : {asutus: ''};
        div.doc_wrapper
            p #{User.asutus_tais ? User.asutus_tais: User.asutus}, reg.kood: #{User.regkood}
            p #{User.aadress}
            p #{User.tel}
            p #{User.email}

    block content
