<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .sub_total {
            font-size: medium;
            font-weight:bold;
        }

        .total {
            font-size: medium;
            font-weight:bold;
        }

        .kulastavus {
            width: 100px
        }
    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h1 SALDO JA KÄIVE ARUANNE
        h2 Vanematetasu
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

        each asutus in data
            -var Asutus = Object.keys(asutus)[0];
            -var alg_saldo_asutus = 0;
            -var arvestatud_asutus = 0;
            -var soodustus_asutus = 0;
            -var umberarvestus_asutus = 0;
            -var arv_kokku_asutus = 0;
            -var laekumised_asutus = 0;
            -var tagastused_asutus = 0;
            -var mahakantud_asutus = 0;
            -var jaak_asutus = 0;
            -var read_asutus = 0;
            p.total #{Asutus}
            each yksus in asutus[Asutus]
                -var Yksus = Object.keys(yksus)[0];
                p.sub_total #{Yksus}
                table.table.table-hover.grid_data
                        thead.grid_head
                            tr
                                th.kulastavus(width='5%') Külastatavus
                                th(width='100px') Üksus(Rühm)
                                th(width='200px') Lapse ees- ja perekonnanimi
                                th(width='100px') Viitenumber
                                th(width='75px') Alg.saldo
                                th(width='75px') Arvestatud
                                th(width='75px') Soodustus
                                th(width='75px') Ümberarv.
                                th(width='75px') Kokku arvestatud
                                th(width='75px') Laekumised
                                th(width='75px') Tagastatud
                                th(width='75px') Mahakantud
                                th(width='75px') Võlg

                        tbody
                            -var alg_saldo_group = 0;
                            -var arvestatud_group = 0;
                            -var soodustus_group = 0;
                            -var umberarvestus_group = 0;
                            -var arv_kokku_group = 0;
                            -var laekumised_group = 0;
                            -var tagastused_group = 0;
                            -var mahakantud_group = 0;
                            -var jaak_group = 0;
                            -var read_group = 0;

                            each rea in yksus[Yksus]
                                -alg_saldo_group += Number(rea.alg_saldo);
                                -arvestatud_group += Number(rea.arvestatud);
                                -soodustus_group += Number(rea.soodustus);
                                -umberarvestus_group +=Number(rea.umberarvestus);
                                -arv_kokku_group += (Number(rea.arvestatud) - Number(rea.soodustus)+Number(rea.umberarvestus))
                                -laekumised_group += Number(rea.laekumised)
                                -tagastused_group += Number(rea.tagastused)
                                -mahakantud_group += Number(rea.mahakantud)
                                -jaak_group += Number(rea.jaak)
                                -read_group +=1;
                                -read_asutus += 1;

                                tr
                                    td(align='center').kulastavus=rea.kulastatavus
                                    td(align='left')=rea.yksus
                                    td(align='left')=rea.lapse_nimi
                                    td(align='center')=rea.viitenumber
                                    td(align='right')=rea.alg_saldo
                                    td(align='right')=rea.arvestatud
                                    td(align='right')=rea.soodustus
                                    td(align='right')=rea.umberarvestus
                                    td(align='right')=((Number(rea.arvestatud) - Number(rea.soodustus)+Number(rea.umberarvestus)).toFixed(2))
                                    td(align='right')=rea.laekumised
                                    td(align='right')=rea.tagastused
                                    td(align='right')=rea.mahakantud
                                    td(align='right')=rea.jaak
                            tr.group.sub_total
                                td.group.sub_total=Yksus + ' Read kokku:'
                                td.group.sub_total=Number(read_group)
                                td.group.sub_total=''
                                td.group.sub_total(align='right')='Kokku:'
                                td.group.sub_total(align='right')=alg_saldo_group.toFixed(2)
                                td.group.sub_total(align='right')=Number(arvestatud_group).toFixed(2)
                                td.group.sub_total(align='right')=Number(soodustus_group).toFixed(2)
                                td.group.sub_total(align='right')=Number(umberarvestus_group).toFixed(2)
                                td.group.sub_total(align='right')=Number(arv_kokku_group).toFixed(2)
                                td.group.sub_total(align='right')=Number(laekumised_group).toFixed(4)
                                td.group.sub_total(align='right')=Number(tagastused_group).toFixed(2)
                                td.group.sub_total(align='right')=Number(mahakantud_group).toFixed(2)
                                td.group.sub_total(align='right')=Number(jaak_group).toFixed(4)

                            -alg_saldo_asutus += Number(alg_saldo_group);
                            -arvestatud_asutus += Number(arvestatud_group);
                            -soodustus_asutus += Number(soodustus_group);
                            -umberarvestus_asutus +=Number(umberarvestus_group);
                            -arv_kokku_asutus += Number(arvestatud_group) + Number(umberarvestus_group) + Number(soodustus_group);
                            -laekumised_asutus += Number(laekumised_group);
                            -tagastused_asutus += Number(tagastused_group);
                            -mahakantud_asutus += Number(mahakantud_group);
                            -jaak_asutus += Number(jaak_group);

            br
            table.table.table-hover.grid_data

                tr.group
                    td.group.total(width='300px')=Object.keys(asutus)[0] + ' Read kokku:'
                    td(width='50px').group.total=Number(read_asutus)
                    td(width='130px',align='right').group.total='Kokku:'
                    td(width='75px',align='right').group.sub_total=alg_saldo_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=arvestatud_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=soodustus_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=umberarvestus_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=arv_kokku_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=laekumised_asutus.toFixed(4)
                    td(width='75px',align='right').group.sub_total=tagastused_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=mahakantud_asutus.toFixed(2)
                    td(width='75px',align='right').group.sub_total=jaak_asutus.toFixed(4)

