<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 SAADETUD DOKUMENDID
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}
        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Saaja isiku ees- ja perekonnanimi
                    th Isikukood
                    th e-mail
                    th Arve nr.
                    th Arve kpv
                    th Prinditud
                    th Emailitud
                    th Saadetud e-arve
                    th Asutus

            tbody
                each rea in data
                    tr
                        td=rea.saaja_nimi
                        td=rea.saaja_isikukood
                        td=rea.saaja_email
                        td=rea.number
                        td=rea.print_kpv
                        td=rea.print
                        td=rea.email
                        td=rea.earve
                        td=rea.asutus

