<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }
        .div {
            margin: 1%;
        }
    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h1 SOODUSTUSED
        h2 Vanematetasu
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

        - var groupValue = Object.keys(data[0])[0];
        - var lapsedKokku = data[0][groupValue][0].lapsed_kokku;
        - var veadKokku = data[0][groupValue][0].vead_kokku;
        - var peredKokku = data[0][groupValue][0].pered_kokku;
        - var pered = data[0][groupValue][0].pered_kokkuvote;
        - var soodustused = data[0][groupValue][0].soodustus_kokkuvote;

    each vanem_isikukood in data
        p.div #{Object.keys(vanem_isikukood)[0]} lapsed kokku: #{vanem_isikukood[Object.keys(vanem_isikukood)[0]][0].lapsed}, % - #{vanem_isikukood[Object.keys(vanem_isikukood)[0]][0].percent}
        div.div
            table.table.table-hover.grid_data
                thead.grid_head
                    tr
                        th Lapse nimi
                        th Vead
                        th Arvestatud
                        th Soodustus
                        th (%)
                        th Kood
                        th Asutus

                tbody
                    each rea in vanem_isikukood[Object.keys(vanem_isikukood)[0]]
                        tr
                            td=rea.lapse_nimi
                            td(align='center')=rea.viga
                            td(align='center')=rea.summa
                            td(align='center')=rea.soodustus
                            td(align='center')=rea.arv_percent
                            td(align='left')=rea.kood
                            td(align='left')=rea.asutus
        p.div Lapsed kokku: #{lapsedKokku} Vead kokku: #{veadKokku} Pered kokku: #{peredKokku}
        div.row_wrapper
            div.div
                table.table.table-hover.grid_data
                    thead.grid_head
                        tr
                            th Lapsed peres&nbsp;
                            th laste arv soodustusega&nbsp;
                    tbody
                        each lapsed in pered
                            tr
                                td(align='center')=lapsed.lapsed
                                td(align='center')=lapsed.pered_kokku
                    tr.group
                        td(align='right')='Kokku'
                        td(align='center')=pered[0].kokku
            div.div
                table.table.table-hover.grid_data
                    thead.grid_head
                        tr
                            th Kood&nbsp;
                            th Sai soodustused&nbsp;
                            th Percent&nbsp;
                            th Summa&nbsp;
                    tbody
                        each Soodustus in soodustused
                            tr
                                td(align='center')=Soodustus.kood
                                td(align='center')=Soodustus.kokku
                                td(align='center')=Soodustus.percent
                                td(align='right')=Soodustus.soodustus
                    tr.group
                        td(align='right')='Kokku'
                        td(align='center')=soodustused[0].kokku_total
                        td(align='center')
                        td(align='right')=soodustused[0].soodustus_total