<!DOCTYPE html>
html(lang="et")
//extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .grid_data {
            width: 100%;
            border: 1px solid black;
        }

        .td {
            font-size: smaller;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }

        .th {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            font-size: smaller;
        }

        .table {
            border-spacing: 0px;
            margin-top: -50px;
        }

        .pikkus {
            width: auto
        }

        .bold {
            font-weight: bold;
        }

        .normal {
            font-weight: normal;
            margin-left: 10px;
        }

        .dline {
            line-height: 0.75;
        }

        .header {
            font-weight: bolder;
            font-size:  x-large;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        p.label #{data.rekv.nimetus}
        p.label #{data.rekv.aadress}
        p.label #{data.rekv.tel}

        br
        p(align='center').pikkus.bold.header EELARVE TAOTLUS:
            label.normal #{data.number}
        p.pikkus.bold.dline Kuup채ev:
            label.normal #{data.kpv_print}
        p.pikkus.bold.dline Asutus:
            label.normal #{data.asutus}
        p.pikkus.bold.dline Koostaja:
            label.normal #{data.koostaja}
        p.pikkus.bold.dline Eelarve aasta:
            label.normal #{data.aasta}
        br
        br
        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Tunnus
                    th Eelarve
                    th Tegevus ala
                    th Allikas
                    th Tekkep천hine summa
                    th Kassap천hine summa
                    th Oodatav t채itmine #{data.aasta}
                    th Rea selgitus

            tbody
                each row in data.details
                    tr
                        td.td=(row.tunnus)
                        td.td(align='center')=row.kood5
                        td.td(align='center')=row.kood1
                        td.td(align='center')=row.kood2
                        td.td(align='center')=Number(row.summa).toFixed(2)
                        td.td(align='center')=Number(row.summa_kassa).toFixed(2)
                        td.td(align='center')=Number(row.oodatav_taitmine).toFixed(2)
                        td.td(align='left')=row.selg
            tr.group
                td
                td
                td
                td(align='center')='Kokku:'
                td=Number(data.details[0].summa_kokku).toFixed(2)
                td=Number(data.details[0].kassa_kokku).toFixed(2)
                td=Number(data.details[0].oodatav_kokku).toFixed(2)
                td
            br

        p.pikkus.bold.dline Alus:
            label.normal #{data.muud}

