<!DOCTYPE html>
html(lang="et")
style(type='text/css').
    .row_wrapper {
        display:-webkit-box;
        flexDirection: row;
    }
    .label {
        width:10%;
    }
    .text {
        width:100%;
    }
    .input {
        width:90%;
        margin-left:5%;
        font-weight: bold;
    }
    .doc_footer {
        display: grid;
        grid-auto-rows: 30px;
    }
    .td_align {
        text-align: center;
        vertical-align: top;
    }
    .td_summa_align {
        text-align: right;
        vertical-align: top;
        padding-right: 20px;
    }
    .th_style {
        text-align: center;
        vertical-align: top;
        text-indent: 5px;
        border-bottom: 1px solid black;
    }

    .inner_padding {
        padding-left: 5px;
        display: inline-block;
    }

    .auto {
        width: auto;
        margin-left: 5px;
    }
    .font_text {
        font-weight: normal;
    }

    .table_local {
        border: 1px solid black;
    }

block content
    link(rel='stylesheet', href='/stylesheets/reports.css')

    meta(charset='UTF-8')
    -var User = user ? user : {asutus: ''};
    div.body_wrapper.div
        div.row_wrapper
            div.label
                span Asutus:
            div.input
                span #{data[0].tais_nimetus}, reg.kood: #{data[0].rekv_regkood}
        div.row_wrapper
            div.label
                span Aadress:
            div.input
                span #{data[0].rekv_aadress}
        div.row_wrapper
            div.label
                span Telefon:
            div.input
                span #{data[0].rekv_tel}
        div.row_wrapper
            div.label
                span E-post:
            div.input
                span #{data[0].rekv_email}


    div.body_wrapper

        h1
            p #{`MAKSENÕUE`}

        div.row_wrapper
            p.label Number:
            p.input NR-#{data[0].number}

        div.row_wrapper
            p.label Kuupäev:
            p.input #{data[0].kpv_print}

        div.row_wrapper
            p.label Saaja:
            p.input #{`${data[0].asutus.trim()} isikukood/reg.kood: ${data[0].regkood}`}

        div.row_wrapper
            p.label Aadress::
            p.input #{`${data[0].aadress}`}
        div.row_wrapper
            p.label E-mail:
            p.input #{`${data[0].email}`}

        table.table-hover.grid_data
            thead.grid_head.auto
                tr
                    th.th_style
                        div.inner_padding  Arve number
                    th.th_style
                        div.inner_padding Viitenumber
                    th.th_style
                        div.inner_padding Arvestatud seisuga
                    th.th_style
                        div.inner_padding Arve tasumata osa

            tbody.auto
                each laps in data[0].lapsed
                    -var laps_kokku = 0;
                    -var lapse_nimi = '';

                    each row in data[0].arved.filter(arve => arve.viitenr === laps)
                            tr
                                td.td_align=(row.number)
                                td.td_align=(row.viitenr)
                                td.td_align=(row.kpv)
                                td.td_summa_align=Number(row.jaak).toFixed(2)
                                -laps_kokku += Number(row.jaak);
                                -lapse_nimi = row.lapse_nimi;
                    tr(style="line-height: 1px; height: 1px;")
                        td(colspan="4" style="border-top: 1px solid #000; height: 1px; padding: 0;") &nbsp;
                    td.td_align=('Kokku')
                    td.td_align=(laps)
                    td.td_align=('('+lapse_nimi+')')
                    td.td_summa_align=Number(laps_kokku).toFixed(2)
                    tr
                        td(colspan="4") &nbsp;


        h3
            div
                div.row_wrapper
                    div.div_column
                        span Kokku Teie võlgnevus seisuga
                    div.div_column.auto
                        span #{`${data[0].kpv_print}`} on
                    div.div_column.auto
                        span #{`${Number(data[0].arved[0].kokku).toFixed(2)}`} eurot.
                br
                div.row_wrapper
                    div.div_column
                        span Palume tasuda võlgnevus kalendrikuu lõpuni käesoleva maksenõude väljastamise kuupäevast arvates.
            div
                div.row_wrapper
                    span Võla sissenõudmise menetluse etapid:
                div.row_wrapper.font_text
                    span 1. Käesolev maksenõue
                div.row_wrapper.font_text
                    span 2. Võla sissenõudmine kohtu kaudu
            br
            div
                div.row_wrapper.font_text
                    span  Täname, kui olete käesoleva maksenõude kättesaamise hetkeks nõutud summa juba tasunud.
                br
                div.row_wrapper.font_text
                    span  Dokumendi koostaja: #{User.userName}
                div.row_wrapper.font_text
                    span Väljastatud: #{data[0].print_aeg}