<!DOCTYPE html>
html(lang="et")
style(type='text/css').
    .row_wrapper {
        display:-webkit-box;
        flexDirection: row;
    }
    .label {
        width:10%;
    }
    .text {
        width:100%;
    }
    .input {
        width:90%;
        margin-left:5%;
        font-weight: bold;
    }
    .doc_footer {
        display: grid;
        grid-auto-rows: 30px;
    }
    .td_align {
        text-align: center;
        vertical-align: top;
    }
    .td_summa_align {
        text-align: right;
        vertical-align: top;
        padding-right: 20px;
    }
    .th_style {
        text-align: center;
        vertical-align: top;
        text-indent: 5px;
        border-bottom: 1px solid black;
    }

    .inner_padding {
        padding-left: 5px;
        display: inline-block;
    }

    .auto {
        width: auto;
        margin-left: 5px;
    }
    .font_text {
        font-weight: normal;
    }

    .table_local {
        border: 1px solid black;
    }

block content
    link(rel='stylesheet', href='/stylesheets/reports.css')
    -var User = user ? user : {asutus: ''};

    each doc in data
        div.page.body_wrapper
            div.row_wrapper
                div.label
                    span Asutus:
                div.input
                    span #{doc.tais_nimetus}
            div.row_wrapper
                div.label
                    span reg.kood:
                div.input
                    span #{doc.rekv_regkood}
            div.row_wrapper
                div.label
                    span Aadress:
                div.input
                    span #{doc.rekv_aadress}
            div.row_wrapper
                div.label
                    span E-post:
                div.input
                    span #{doc.rekv_email}

            h1
                p #{`MAKSENÕUE`}

            div.row_wrapper
                p.label Number:
                p.input NR-#{doc.number}

            div.row_wrapper
                p.label Kuupäev:
                p.input #{doc.kpv}

            div.row_wrapper
                p.label Saaja:
                p.input #{`${doc.asutus.trim()} isikukood/reg.kood: ${doc.regkood}`}

            div.row_wrapper
                p.label Aadress:
                p.input #{`${doc.aadress}`}

            div.row_wrapper
                p.label E-mail:
                p.input #{`${doc.email}`}

            table.table.table-hover.grid_data
                thead.grid_head.auto
                    tr
                        th.th_style
                            div.inner_padding  Arve number
                        th.th_style
                            div.inner_padding Viitenumber
                        th.th_style
                            div.inner_padding Arvestatud seisuga
                        th.th_style
                            div.inner_padding Arve tasumata osa


                tbody.auto

                    each laps in doc.lapsed
                        -var laps_kokku = 0;

                        each row in doc.arved.filter(arve => arve.viitenr === laps)
                            tr
                                td.td_align=(row.number)
                                td.td_align=(row.viitenr)
                                td.td_align=(row.kpv)
                                td.td_summa_align=Number(row.jaak).toFixed(2)
                                -laps_kokku += Number(row.jaak);

                        tr(style="line-height: 1px; height: 1px;")
                            td(colspan="4" style="border-top: 1px solid #000; height: 1px; padding: 0;") &nbsp;
                        td.td_align=('Kokku')
                        td.td_align=(laps)
                        td
                        td.td_summa_align=Number(laps_kokku).toFixed(2)
                        tr
                            td(colspan="4") &nbsp;


        h3
            div
                div.row_wrapper
                    div.div_column
                        span Kokku Teie võlgnevus seisuga
                    div.div_column.auto
                        span #{`${doc.kpv}`} on
                    div.div_column.auto
                        span #{`${Number(doc.arved[0].kokku).toFixed(2)}`} eurot.
                br
                div.row_wrapper
                    div.div_column
                        span Palume tasuda võlgnevus kalendrikuu lõpuni käesoleva maksenõude väljastamise kuupäevast arvates.
            div
                div.row_wrapper
                    span Võla sissenõudmise menetluse etapid:
                div.row_wrapper.font_text
                    span 1. Käesolev maksenõue
                div.row_wrapper.font_text
                    span 2. Võla sissenõudmine kohtu kaudu
            br
            div
                div.row_wrapper.font_text
                    span  Täname, kui olete käesoleva maksenõude kättesaamise hetkeks nõutud summa juba tasunud.
            br
            div.row_wrapper.font_text
                span  Dokumendi koostaja: #{User.userName}
            div.row_wrapper.font_text
                span Väljastatud: #{doc.print_aeg}

            p.text Dokumendi koostaja: #{User.userName}
            p Väljatrükkitatud: #{doc.print_aeg}
