<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 Teatiste register
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Number
                    th Kuupäev
                    th Saaja
                    th Saadetud
                    th E-post
                    th Trükitud

            tbody
                each teatis in data
                    tr
                        td=teatis.number
                        td=teatis.kpv
                        td=teatis.asutus
                        td=teatis.saadetud
                        td=teatis.email_aadress
                        td=teatis.print

